*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: sans-serif ;
}
a{
    text-decoration: none;
}
header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
  }
  .logo {
    width: 124px;
    margin-top: 20px;
    margin-left: 20px;
  }
  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
    margin-right: -10px;
  }
  .header-right ul{
	float: right;
    padding: 0;
    margin: 0;
    z-index: 3;
}
  .header-right ul li {
    line-height: 65px;
    padding: 0 20px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }
  .header-right ul li a{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: white;
	padding: 6px 13px;
	text-decoration: none;
	transition: .4s;
}
.header-right ul li a:hover{
    opacity: .8;
}
.header-right ul li a.active,
.header-right ul li a:hover{
	background: rgba(252, 204, 49);
    border-radius: 2px;
}
/* .navbar{
	position: sticky;
	height: 80px;
	width: 100%;
	top: 0;
	left: 0;
    background: rgba(0,0,0,0.0);
    z-index: 5;
}
.navbar .logo{
	width: 140px;
	height: auto;
    padding: 0px;
    position: relative;
    z-index: 3;
    margin-left: 125px;
    margin-top: 27px;
}
.navbar ul li{
	list-style: none;
	margin-right: 30px;
	display: inline-block;
    line-height: 80px;
    position: relative;
} */
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p {
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300px;
    letter-spacing: .05rem;
}
.section-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
.section-title span{
    color:black;
}
.cta{
    display: inline-block;
    padding: 10px 30px;
    color:white;
    background-color: transparent;
    border: 2px solid rgb(252, 204, 49);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
    border-radius: 50px;
}
.cta:hover{
    color: whitesmoke;
    background-color: rgb(252, 204, 49);
    opacity: .7;
}
/* Header section */
/* #header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}
#header .header{
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.24);
}
.header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 10px;
}
#header .humberger{
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid whitesmoke;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
} */

/* End Header section */

/* Hero section */
#hero{
    background-image: url(./img/trvs.jpg) ;
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .5;
    z-index: -1;
}
#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#hero h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}
#hero h1:nth-child(1){
    animation-delay: 1s;
}
#hero h1:nth-child(2){
    animation-delay: 2s;
}
#hero h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}
#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: rgb(252, 204, 49) ;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
}
#hero h1:nth-child(1) span{
    animation-delay: .5s;
}
#hero h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#hero h1:nth-child(3) span{
    animation-delay: 2.5s;
}
/* End Hero Section */

/*  Services Section */
#services .services{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}
#services .servicce-top{
    width: 500px;
    margin: 0 auto;
}
#services .service-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
#services .service-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(./img/590219.jpg);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#services .service-item::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 70%, #485563 30%);
    opacity: .7;
    z-index: -1;
}
#services .service-bottom .icon{
    height: 10px;
    width: 50px;
    margin-bottom: 20px;
    margin-left: 50px;
}
#services .service-bottom .icon ,img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#services .service-item h2{
    font-size: 2rem;
    color: white;
    margin-bottom: 20px;
    text-transform: uppercase;
}
#services .service-item p{
    color: white;
    text-align: left;
}
#services .service-top  .section-title span{
    color: crimson;
}
/* End Services Section */

/* Projects Section */
#projects .projects{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
#projects .projects-header h1{
    margin-bottom: 50px;
}
#projects .all-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#projects .project-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}
#projects .project-info{
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg,black 0%, grey 90%);
    color: white;
}
#projects .project-info h1{
    margin-bottom: 10px;
    font-size: 4rem;
    font-weight: 500;
}
#projects .project-info h2{
    font-size: 1.8rem;
    font-weight: 500;
}
#projects .project-info p{
    color: white;
}
#projects .project-img{
    flex-basis: 50%;
    height: 200px;
    overflow: hidden;
}
#projects .project-img:after{   
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .6;
}
#projects .project-img img{
    transition: .3s ease transform;
}
#projects .project-item:hover .project-img{
    transform: scale(.9);
}
#projects .projects-header .section-title span{
    color: crimson;
}
/* End Projects Section */

/* footer */
footer{
	background: black;
	padding: 90px 0;
}
.footer-container{
	max-width: 1300px;
	margin: auto;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap-reverse;
}
.lambang{
	width: 180px;
}
.right-col h1{
	font-size: 26px;
}
.border{
	width: 330px;
	height: 3px;
    background: white;
    margin-bottom: 50px;
}
.border p{
    color: white;
}
.newsletter-form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.txtb{
	flex: 1;
	padding: 18px 40px;
	font-size: 16px;
	color: black;
	background: #ddd;
	border: none;
	font-weight: 700;
	outline: none;
	border-radius: 30px;
    min-width: 260px;
    margin-right: 10px;
}
.btn{
	display: inline-block;
    padding: 10px 30px;
    color:white;
    background-color: transparent;
    border: 2px solid rgb(252, 204, 49);
    font-size: 2rem;
    text-transform: uppercase;
    border-radius: 30px;
    letter-spacing: .1rem;
    transition: .3s ease;
    transition-property: background-color, color;
}
.btn:hover{
	opacity: .7;
}
.page-content{
	min-height: 100vh;
	font-size: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}
.left-col p{
	color: white;
	font-style: none;
    font-family: sans-serif;
}
.right-col{
        color: white;
        font-style: none;
        font-family: sans-serif;
	
}
/* End of footer */


/* Key Frames */
/* animasi */
@keyframes text_reveal_box{
 50%{
     width: 100%;
     left: 0;
 }
 100%{
     width: 0;
     left: 100%;
 }
}
@keyframes text_reveal{
    100%{
        color: white;
    }
}
@keyframes text_reveal_name{
    100%{
        color: rgb(252, 204, 49);
    }
}
/* End Key Frames */

/* Media for tablet */
@media only screen and (min-width:768px){
    .cta{
        font-size: 2.5rem;
        padding: 20px 60px;

    }
    h1.section-title{
        font-size: 6rem;
    }
    /* Hero */
#hero h1{
    font-size: 7rem;
}
    /* End Hero */

    /* Services Section */
#services .service-bottom .service-item{
    flex-basis: 45%;
    margin: 1.5%;
}
    /* End Service */

    /* Project */
#projects .project-item{
    flex-direction: row;
}
#projects .project-item:nth-child(even){
    flex-direction: row-reverse;
}
#projects .project-item{
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
}
#projects .all-projects .project-info{
    height: 100%;
}
#projects .all-projects .project-img{
    height: 100%;
}
    /* End Project */
}
/* End Media for tablet*/

/* Media query for dekstop */
@media only screen and (min-width: 1200px){
    #services .service-item .service-bottom{
        flex-basis: 22%;
        margin: 1.5%;
    }
}
/* End Media query for dekstop*/

@media all and (max-width: 728px) {
    .header-right {
        display: none;
      }  
  }
